<style>
    /* Variables */
    :root {
        --default-font: 'Arial', sans-serif;
        --primary-background: #f5f5f5;
        --primary-color: #555;
        --secondary-color: #333;
        --border-color: #eee;
        --highlight-color: #007BFF;
        --shadow-color: rgba(0, 0, 0, 0.1);
        --btn-bg-gradient: linear-gradient(120deg, #007BFF, #0056b3);
    }

    /* Reset & Base */
    body {
        font-family: var(--default-font);
        background: var(--primary-background);
        margin: 0;
        padding: 0;
    }

    p,
    label,
    h2 {
        color: var(--primary-color);
        margin-bottom: 10px;
    }

    /* Headings */
    h2 {
        font-size: 24px;
        color: var(--secondary-color);
        border-bottom: 1px solid var(--border-color);
        padding-bottom: 10px;
    }

    /* Common Container Styles */
    #attendance-filter,
    #attendance-table {
        max-width: 1000px;
        margin: 40px 20px;
        background-color: #ffffff;
        padding: 20px;
        box-shadow: 0 10px 20px var(--shadow-color);
        border-radius: 10px;
    }

    /* Form Inputs */
    .input-group input,
    #filter-form input {
        margin-right: 10px;
        padding: 10px;
        border: 1px solid #ddd;
        border-radius: 10px;
        transition: border-color 0.3s;
        outline: none;
    }

    .input-group input[type="time"],
    .input-group input[type="date"],
    .input-group input[type="month"] {
        width: auto;
    }

    .input-group input:focus,
    #filter-form input:focus {
        border-color: var(--highlight-color);
    }

    /* Buttons */
    #sync-button button,
    #attendance-form button,
    #filter-form button {
        background: var(--btn-bg-gradient);
        color: #ffffff;
        border: none;
        padding: 10px 30px;
        border-radius: 25px;
        cursor: pointer;
        transition: transform 0.3s;
        display: inline-block;
    }

    #sync-button button:hover,
    #attendance-form button:hover,
    #filter-form button:hover {
        transform: translateY(-3px);
    }

    /* Attendance Table */
    #attendance-table table {
        width: 100%;
        border-collapse: collapse;
    }

    #attendance-table th,
    #attendance-table td {
        padding: 15px;
        border-bottom: 1px solid var(--border-color);
        text-align: left;
    }

    #attendance-table th {
        background-color: #f9f9f9;
        color: #444;
    }

    /* Filter Form */
    #filter-form {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    #filter-form label {
        font-weight: 500;
        margin-right: 5px;
    }
</style>


<% var userInfo=data?.userInfo %>
    <!-- 個人・会社情報部分 -->
    <div id="info">
        <p>従業員ID: <span id="employee_id">
                <%= userInfo?.employee_id %>
            </span></p>
        <p>
            従業員氏名: <span id="employee_name">
                <%= userInfo?.employee_name %>
            </span>
        </p>
        <p>Role: <span id="name">
                <%= userInfo?.role %>
            </span></p>
        <p>会社ID: <span id="company_id">
                <%= userInfo?.company_id %>
            </span></p>
        <p>会社名: <span id="company_name">
                <%= userInfo?.company_name %>
            </span></p>
        <p>最終連携日時: <span id="last-sync">
                <%= data?.lastSyncDate %>
            </span></p>
    </div>

    <div id="sync-button">
        <button onclick="syncFunction()">連携</button>
    </div>
    <div id="attendance-input">
        <h2>勤怠入力</h2>
        <form id="attendance-form" action="/freee/work-records" method="POST">
            <div class="day-group">
                <!-- 勤務日のFromとToの入力 -->
                <div class="input-group">
                    <label for="work-from-date">勤務日:</label>
                    <input type="date" id="work-from-date" name="workFromDate" required />

                    <label for="work-to-date">〜</label>
                    <input type="date" id="work-to-date" name="workToDate" required />
                </div>
                <!-- 勤務時間の入力 -->
                <div class="input-group">
                    <label for="work-start-hours">勤務開始時間:</label>
                    <input type="time" id="work-start-hours" name="workStartHours" value="09:30" required />

                    <label for="work-end-hours">〜</label>
                    <input type="time" id="work-end-hours" name="workEndHours" value="18:30" required />
                </div>
                <!-- 休憩時間の入力 -->
                <div class="input-group">
                    <label for="work-break-start-hours">休憩開始時間:</label>
                    <input type="time" id="work-break-start-hours" name="workBreakStartHours" value="12:00" required />

                    <label for="work-break-end-hours">〜</label>
                    <input type="time" id="work-break-end-hours" name="workBreakEndHours" value="13:00" required />
                </div>
            </div>
            <button type="submit">登録</button>
        </form>
    </div>

    <div id="attendance-input">
        <h2>勤怠削除</h2>
        <form id="attendance-form" action="/freee/work-records?_method=DELETE" method="POST">
            <div class="day-group">
                <!-- 勤務日のFromとToの入力 -->
                <div class="input-group">
                    <label for="work-from-date">勤務日:</label>
                    <input type="date" id="work-from-date" name="workFromDate" required />

                    <label for="work-to-date">〜</label>
                    <input type="date" id="work-to-date" name="workToDate" required />
                </div>
            </div>
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">登録</button>
        </form>
    </div>

    <div id="attendance-filter">
        <h2>勤怠検索</h2>
        <form id="filter-form" action="/freee/work-records" method="GET">
            <label for="year-month">年月:</label>
            <input type="month" id="year-month" name="yearMonth" value="<%= data?.yearMonth %>" required>
            <button type="submit">検索</button>
        </form>
    </div>
    <div id="attendance-table">
        <table>
            <thead>
                <tr>
                    <th>勤務日</th>
                    <th>勤務時間</th>
                    <th>休憩時間</th>
                </tr>
            </thead>
            <tbody id="attendance-data">
                <% if (data.workRecords && data.workRecords.length> 0) { %>
                    <% data.workRecords.forEach(function(record) { %>
                        <tr>
                            <td>
                                <%= record.workDay.toFullDateString() %>
                            </td>
                            <td>
                                <%= record.clockInAt.toString() %> - <%= record.clockOutAt.toString() %>
                            </td>
                            <td>
                                <% record.breakRecords.forEach(function(breakRecord) { %>
                                    <%= breakRecord.clockInAt.toString() %> - <%= breakRecord.clockOutAt.toString() %>
                                            <br>
                                            <% }); %>
                            </td>
                        </tr>
                        <% }); %>
                            <% } else { %>
                                <tr>
                                    <td colspan="3">No work records available.</td>
                                </tr>
                                <% } %>
            </tbody>
        </table>
    </div>

    <script type="text/javascript">
        function syncFunction() {
            var userConfirmed = window.confirm("本当に同期しますか？");
            if (userConfirmed) {
                window.location.href = "/freee/authorize";
            } else {
            }
        }
    </script>