<div class="text-center">
    <h4 style="margin: 0;" class="text-center">
        <%= pageTitle %>
    </h4>
</div>
<hr>
<div class="grid-x grid-margin-x">
    <div class="large-12 cell" style="border-right: 1px solid #E3E5E8;">
        <% if (stories && stories.length> 0) { %>
            <% stories.forEach(function(story) { %>
                <div class="grid-x grid-margin-x">
                    <div class="large-12 cell">
                        <h5><a href="https://news.ycombinator.com/item?id=<%= story?.id %>" target="_blank">
                                [<%= story.type %>]<%= story.title %>
                            </a></h5>
                        <p>
                            <span><i class="fi-torso"> By <%= story?.by %> </i></span>
                            <span><i class="fi-calendar">
                                    <%= new Date(story.time * 1000).toLocaleString() %>
                                </i></span>
                        </p>
                    </div>
                </div>
                <hr>
                <% }); %>
                    <% } else { %>
                        <p>No updates available.</p>
                        <% } %>
    </div>
</div>