<div class="text-center">
    <h4 style="margin: 0;" class="text-center">
        <%= feed?.title %>
    </h4>
    <p>
        <%= feed?.description %>
    </p>
    <p>Last updated: <%= feed?.lastBuildDate ? new Date(feed.lastBuildDate).toLocaleString() : 'Unknown' %>
    </p>
</div>
<hr>
<div class="grid-x grid-margin-x">
    <div class="large-12 cell" style="border-right: 1px solid #E3E5E8;">
        <% if (feed?.items && feed?.items.length> 0) { %>
            <% feed.items.forEach(function(item) { %>
                <div class="grid-x grid-margin-x">
                    <div class="large-12 cell">
                        <h5><a href="<%= item.link %>" target="_blank">
                                <%= item.title %>
                            </a></h5>
                        <p>
                            <span><i class="fi-calendar">
                                    <%= item.pubDate ? new Date(item.pubDate).toLocaleString() : 'Unknown' %>
                                </i></span>
                            <% if (item.categories && item.categories.length> 0) { %><span><i class="fi-comments">
                                        Categories: <%= item.categories.join(', ') %></i></span><% } %>
                      </p>
                      <p>
                        <% if (item?.contentSnippet && item?.contentSnippet.length> 0) { %>
                        <% const view_length=74 * 3; %>
                        <%= item.contentSnippet.slice(0, view_length) %>
                        <%= item.contentSnippet.length> view_length ? ' ...' : '' %>
                                            <% } %>
                        </p>
                    </div>
                </div>
                <hr>
                <% }); %>
                    <% } else { %>
                        <p>No updates available.</p>
                        <% } %>
    </div>
</div>